{% extends '@GCFFront/base.html.twig' %}
{% block styleBloc %}
    <style>
        /* fonctionnel */
        .hierarchie_result_niv_1 input {
            display: none;
        }
        .hierarchie_result_niv_1 input ~ ul {
            display: none;
        }
        .hierarchie_result_niv_1 input:checked ~ ul {
            display: block;
        }
        .hierarchie_result_niv_1 input ~ .fa-angle-double-down {
            display: none;
        }
        .hierarchie_result_niv_1 input:checked ~ .fa-angle-double-right {
            display: none;
        }
        .hierarchie_result_niv_1 input:checked ~ .fa-angle-double-down {
            display: inline;
        }

        /* habillage */
        .hierarchie_result_niv_1 li {
            display: block;
            font-family: 'Arial';
            font-size: 15px;
            padding: 0.2em;
            border: 1px solid transparent;
        }
        .hierarchie_result_niv_1 li:hover {
            border: 1px solid grey;
            border-radius: 3px;
            background-color: lightgrey;
        }

        #accordion .panel-default .panel-title{cursor: pointer}
    </style>
{% endblock %}

{% block body %}


    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4" style="padding-left:0">
                <div class="panel-group" id="accordion">
                    {% for key, sector in sectors %}

                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}" >
                                    <h4 class="panel-title">

                                        <a href="{{ path('gcf_front_actorssectorpage', { 'id': sector.id}) }}" style="text-decoration: none;">{{ sector.nom }}</a>
                                         <i class="fa fa-caret-down" aria-hidden="true" style="float:right"></i>
                                    </h4>
                                </div>

                                <div id="collapse{{ key }}" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        {% for actor in actors %}
                                            {% if ( actor.secteurActeur ==  sector.nom ) %}
                                            <li class="list-group-item">{{ actor.nom }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                    {% endfor %}

                </div>
            </div>

            <div class="col-md-8">
                <div class="hierarchie_result_lvl">
                    {% block actorsSector %}
                    {% endblock %}
                </div>
            </div>


        </div>
    </div>

{% endblock %}


{% block javascripts %}

{% endblock %}