

<li>
    {% if actor.acteurFils|length > 0 %}
    <input type="checkbox" id="c{{ actor.id }}" />
    <i class="fa fa-angle-double-right"></i>
    <i class="fa fa-angle-double-down"></i>
    <label for="c{{ actor.id }}">{{ actor.nom }}</label>
        <ul>
        {% for key, sousactor in actor.acteurFils %}
            {{ render(controller('GCFFrontBundle:Actors:sousActors', { 'id': sousactor.id } )) }}
        {% endfor %}
        </ul>
    {% else %}
        <input type="checkbox" id="c{{ actor.id }}" />
        <i class="fa fa-angle-double-right"></i>
        <i class="fa fa-angle-double-down"></i>
        <label for="c{{ actor.id }}">{{ actor.nom }}</label>

    {% endif %}
</li>
