{% extends '@GCFFront/base.html.twig' %}

{% block title %} E-learning {% endblock %}

{% block stylesheets %}

    <style>
        .navigation_elearning{
            margin-bottom: 40px;
        }
        .navigation_elearning li{
            font-weight: 600;cursor: pointer;
        }
        .navigation_elearning a{
            color: #22AA86;
        }
        #legislatives_tab_container{
            display: none;
        }
        .listing{
            box-shadow: 0 0 10px #ccc inset;
            padding: 10px;
            margin-bottom: 30px;
            min-height: 240px;
        }
        .listing h4{
            background: #22AA86;
            color: #fff;
            font-weight: 400;
            padding: 8px 15px;
            margin-top: 0;
        }
        .listing a{
            margin-bottom: 10px;
        }
        .type img{
            float: right;
            width: 60px;
            padding: 10px;
            cursor: pointer;
        }
        .listing p {
            margin-bottom: 5px;
        }
        .listing > p{
            background: #262626;
            width: 75% ;
            padding: 5px 20px;
            color: #fff;
            font-size: 12px;
        }
        #technique_tab, #legislatives_tab{
            padding:0;
        }
        #model_video{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.4);
            display: none;
            z-index: 9999;
        }
        #close_panel{
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            cursor: pointer;
        }
    </style>

{% endblock %}

{% block body %}
{{ dump(elearningLegisArticles) }}

    <div>
        <div class="col-md-12">
            <ul class="nav nav-tabs navigation_elearning">
                <li class="active" id="technique_tab"><a >Technique</a></li>
                <li class="" id="legislatives_tab"><a >Législatives</a></li>
            </ul>
        </div>

        <div id="technique_tab_container">

            {% for elearningTechArticle in elearningTechArticles %}


                <div class="col-md-12 col-xs-12"
                     style="background: #f2fffc;border: solid white; padding-top: 10px; padding-bottom:10px ">
                    <div class="row">
                        <div class="col-md-5" style="padding: 0 ">

                            <iframe   style="max-width: 100%;max-height: 100%;width: 100%; height:200px;" src="https://www.youtube.com/embed/NBRLeyI9Dfk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                        <div class="col-md-7">
                            <h4 class="name">{{ elearningTechArticle.nom }}</h4>
                            <h6 class="name"><strong>Date :</strong>{{ "now"|date("d-m-Y") }}</h6>
                            <p class="description" style="font-size: 13px;">{{ elearningTechArticle.description }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

        <div id="legislatives_tab_container">

            {% for i in 0..4 %}

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="listing">
                        <h4>Document titre</h4>
                        <div class="type">
                            <a target="_blank" href="">
                                <img src="{{ asset('assets/images/PDF_file.png') }}" title="Lire le document">
                            </a>
                        </div>
                        <p>Date de publication : 2018</p>
                        <div class="details">
                            <p><strong>Adresse :</strong> Lorem ipsum</p>
                            <p><strong>Type :</strong> Lorem ipsum dolor </p>
                            <p><strong>Focus :</strong>Lorem</p>
                            <p><strong>Secteur :</strong>ipsum</p>
                            <p><strong>Mots clés :</strong>Lorem ipsum, Lorem ipsum dolor sit amet, Lorem dolor, ipsum, Lorem, amet</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>


    <div id="model_video">
        <i id="close_panel" class="fa fa-times fa-2x" aria-hidden="true" ></i>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        jQuery('#technique_tab').click(function () {

            jQuery('#technique_tab_container').css('display', 'block');
            jQuery('#legislatives_tab_container').css('display', 'none');
            jQuery('#technique_tab').addClass('active');
            jQuery('#legislatives_tab').removeClass('active');

        });

        jQuery('#legislatives_tab').click(function () {

            jQuery('#legislatives_tab_container').css('display', 'block');
            jQuery('#technique_tab_container').css('display', 'none');
            jQuery('#legislatives_tab').addClass('active');
            jQuery('#technique_tab').removeClass('active');

        });
    </script>

    <script>
        jQuery('#open_modal_read_video').click(function () {
            jQuery('#model_video').css('display', 'block');
        });
        jQuery('#close_panel').click(function () {
            jQuery('#model_video').css('display', 'none');
        });
    </script>
{% endblock %}