{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF | {{ pageTitle }} {% endblock %}

{% block stylesheets %}

    <style>
        .nav_our_and_green_blogger {
            margin-bottom: 30px !important;
        }

        .nav_our_and_green_blogger li {
            font-weight: 600;
            cursor: pointer;
        }

        .nav_our_and_green_blogger a {
            color: #22AA86;
        }

        #green_blogger_pub_tab_container {
            display: none;
        }

        #autres_pub_tab_container{
            display:none;
        }
        .nav_our_and_green_blogger li a h2{
            font-weight: inherit ;
            font-size: inherit;
            line-height: inherit;
            margin: inherit;
        }

        .post_title{color:#333 }

        .post_title:hover{ text-decoration: none; color:#333 }

    </style>


{% endblock %}
{% block body %}


    <div>
        <div class="col-md-12">
            <ul class="nav nav-tabs nav_our_and_green_blogger">
                <li class="active" id="our_pub_tab"><a><h2>Nos Publications</h2></a></li>
                <li id="green_blogger_pub_tab"><a><h2>Green bloggeur Publications</h2></a></li>
                <li id="autres_pub_tab"><a><h2>Autres</h2></a></li>
                <div class="navbar-right">
                    <a class="btn btn-default" onclick="showGBpopup()">+ Green Blogger</a>
                </div>
            </ul>
        </div>

        <div id="our_pub_tab_container">

            {% for publication in publications %}

                <div class="col-md-6 col-sm-6 col-xs-12"
                     style="background: whitesmoke;border: solid white; padding-top: 10px; padding-bottom:10px ">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="{{ path('gcf_front_single_publications_page',{'id': publication.id}) }}" title="{{ publication.titre }}">
                                <img src="http://placehold.it/200x200" class="img-responsive" style="width: 100%;"  alt="title="{{ publication.titre }}"" />
                            </a>
                        </div>
                        <div class="col-md-7">
                            <h4><a href="{{ path('gcf_front_single_publications_page',{'id': publication.id}) }}" class="post_title" title="{{ publication.titre }}">{{ publication.titre }}</a></h4>
                            <h6><strong>Date :</strong> 2009</h6>
                            <p class="description" style="font-size: 13px;">{{ publication.contenu|slice(0, 62) }}...</p>
                            <p style="width: 100%; text-align: right">
                                <a href="{{ path('gcf_front_single_publications_page',{'id': publication.id}) }}" class="button_see_more">Lire la suite. </a>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

        <div id="green_blogger_pub_tab_container">
            {% for i in 0..10 %}


                <div class="col-md-6 col-sm-6 col-xs-12"
                     style="background: #f2fffc;border: solid white; padding-top: 10px; padding-bottom:10px ">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="#" title="Titre">
                                <img src="http://placehold.it/200x200" class="img-responsive" alt="Titre"/>
                            </a>
                        </div>
                        <div class="col-md-7">
                            <h4><a href="#" class="post_title" title="Titre">Publication Titre</a></h4>
                            <h6><strong>Date :</strong> 2009</h6>
                            <p class="description" style="font-size: 13px;">Aenean tortor est, vulputate quis leo in,
                                vehicula rhoncus lacus.</p>
                            <p style="width: 100%; text-align: right">
                                <a href="#" style="padding: 5px; background: #22AA86; color: white; text-decoration: none">
                                    Lire la suite. </a>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div id="autres_pub_tab_container">
            {% for i in 0..10 %}

                <div class="col-md-6 col-sm-6 col-xs-12"
                     style=" background: rgba(255,239,0,0.1);border: solid white; padding-top: 10px; padding-bottom:10px ">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="#" title="TITRE">
                                <img src="http://placehold.it/200x200" class="img-responsive" alt="TITRE" />
                            </a>
                        </div>
                        <div class="col-md-7">
                            <h4 class="post_title"><a href="#" title="TITRE">Publication {{ i }} Titre</a></h4>
                            <h6 class="name"><strong>Date :</strong> 2009</h6>
                            <p class="description" style="font-size: 13px;">Aenean tortor est, vulputate quis leo in,
                                vehicula rhoncus lacus.</p>
                            <p style="width: 100%; text-align: right">
                                <a href="#" style="padding: 5px; background: rgba(255,239,0,0.4); color: white; text-decoration: none">
                                    Lire la suite. </a>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    jQuery('#our_pub_tab').click(function () {

        jQuery('#our_pub_tab_container').css('display', 'block');
        jQuery('#green_blogger_pub_tab_container').css('display', 'none');
        jQuery('#autres_pub_tab_container').css('display', 'none');

        jQuery('#our_pub_tab').addClass('active');
        jQuery('#green_blogger_pub_tab').removeClass('active');
        jQuery('#autres_pub_tab').removeClass('active');

    });

    jQuery('#green_blogger_pub_tab').click(function () {

        jQuery('#green_blogger_pub_tab_container').css('display', 'block');
        jQuery('#our_pub_tab_container').css('display', 'none');
        jQuery('#autres_pub_tab_container').css('display', 'none');

        jQuery('#green_blogger_pub_tab').addClass('active');
        jQuery('#our_pub_tab').removeClass('active');
        jQuery('#autres_pub_tab').removeClass('active');

    });

    jQuery('#autres_pub_tab').click(function () {

        jQuery('#autres_pub_tab_container').css('display', 'block');
        jQuery('#green_blogger_pub_tab_container').css('display', 'none');
        jQuery('#our_pub_tab_container').css('display', 'none');

        jQuery('#autres_pub_tab').addClass('active');
        jQuery('#our_pub_tab').removeClass('active');
        jQuery('#green_blogger_pub_tab').removeClass('active');

    });

</script>
{% endblock %}

