{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF | {{ pageTitle }} {% endblock %}

{% block body %}

{{ dump(publication) }}

    <div class="col-md-12">
        <table class="table table-striped table-bordered col-md-12">
            <tbody>
                <tr>
                    <td class="col-md-6"><b>ID</b></td>
                    <td class="col-md-6">{{ publication.id }}</td>
                </tr>
                <tr>
                    <td class="col-md-6"><b>Titre</b></td>
                    <td class="col-md-6">{{ publication.titre }}</td>
                </tr>
                <tr>
                    <td class="col-md-6"><b>Contenu</b></td>
                    <td class="col-md-6">{{ publication.contenu }}</td>
                </tr>
                <tr>
                    <td class="col-md-6"><b>Projet</b></td>
                    <td class="col-md-6">
                        {% if publication.projet is null %}
                            -----
                        {% else %}
                            {{ publication.projet.nom }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="col-md-6"><b>Email Bloggeur</b></td>
                    <td class="col-md-6">{{ publication.emailBloggeur }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

