{% extends '@GCFFront/base.html.twig' %}
{% block stylesheets %}
    {#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">#}
    <link rel="stylesheet" href="{{ asset('assets/DataTables/datatables.css') }}">
    <style>
        div.dataTables_wrapper div.dataTables_filter{
            display: none;
        }
        #myfilter{ padding: 10px 0; border: solid 1px;  margin: 10px 0;}

        .paginate_button.previous, .paginate_button.next{ display: none; }

    </style>
{% endblock %}
{% block body %}



    <div class="col-md-12" style="margin: 10px 0; padding: 0; border-left: solid #22AA86;">
        <div class="col-md-12">
            <h2>Filtre:</h2>
        </div>
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="byGouvernorate" style="padding-top: 16px;padding-bottom: 16px; width: 100%; max-width:100%; margin: 5px 0;">
                <option value="" style="color:gray">Tous les Gouvernorats</option>
                {% for gouv in gouvernorates  %}
                    <option value="{{ gouv.nom }}">{{ gouv.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="byOrganisme" style="padding-top: 16px;padding-bottom: 16px; width: 100%; max-width: 100%; margin: 5px 0;">
                <option value="" style="color:gray"> Tous les Organismes</option>
                {% for organisme in organismes  %}
                    <option value="{{ organisme.nom }}">{{ organisme.nom}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="bySecteur" style="padding-top: 16px;padding-bottom: 16px; width: 100%; max-width:100%; margin: 5px 0;">
                <option value="" style="color:gray">Tous les Secteurs</option>
                {% for secteur in secteurs  %}
                    <option value="{{ secteur.nom }}">{{ secteur.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="byFocus" style="padding-top: 16px;padding-bottom: 16px; width: 100%; max-width:100%; margin: 5px 0; ">
                <option value="" style="color:gray">Tous les Focus</option>
                {% for focus in focuss  %}
                    <option value="{{ focus.nom }}">{{ focus.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div class="col-md-12">
        <table id="myTable" class="table table-bordered table-striped display" cellspacing="0">
            <thead>
            <tr style="background: #22AA86; color: white;">
                <th>Nom</th>

                <th>Gouvernorat</th>

                <th>Organisme</th>

                <th>Secteur</th>

                <th>Focus</th>

            </tr>
            </thead>
            <tbody class="result-search">
            {% for project in projects %}
                <tr>
                    <td><a href="{{ path('gcf_front_projectsinglepage', {'id': project.id} ) }}"> {{ project.nom }}</a></td>

                    <td>
                        {% for gouvernorat in project.gouvernorat %}
                            {{ gouvernorat.nom }}
                        {% endfor %}
                    </td>

                    {#organisme---->#}
                    <td>
                        {% if project.acteur != null %}
                            {% if project.acteur.secteurActeur != null %}
                                {% if (project.acteur.secteurActeur.secteurActeurParent == null) %}
                                    {{ project.acteur.secteurActeur.nom }}
                                {% else %}
                                    {{ project.acteur.secteurActeur.secteurActeurParent.nom }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>{{ project.secteurProjet.nom }}</td>

                    {% spaceless %}
                        <td>
                            <ul>
                                {% for focus in project.focus %}
                                    <li>{{ focus.nom}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endspaceless %}


                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>

    <script src="{{ asset('assets/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            var table = $('#myTable').DataTable( {

                "paging":   true,

                "lengthChange": false,
                //"lengthMenu": [ 5, 10, 20 ],
                "lengthMenu": [ 5, 10, 20 ],

                "ordering": true,

                "info":     false,

                "searching": true,

                "searchInput": false

                // dom: 'Bfrtip',

                // buttons: [
                //     'pdf'
                // ]

            } );

        //=============================================
            select =  $("#byGouvernorate")
                .on('change', function () {
                    table.column(1)
                        .search( $(this).val() )
                        .draw();
                });
        //=============================================
            select = $('#byOrganisme')
                .on('change', function () {
                    table.column(2)
                        .search( $(this).val() )
                        .draw();
                });
        //=============================================
            select = $('#bySecteur')
                .on('change', function () {
                    table.column(3)
                        .search( $(this).val() )
                        .draw();
                });
        //=============================================
            select = $('#byFocus')
                .on('change', function () {
                    table.column(4)
                        .search( ($(this).val()).replace(/<[^>]+>/g, '') )
                        .draw();
                });
        } );
    </script>
{% endblock %}