{% extends "@GCFFront/base.html.twig" %}


{% block stylesheets %}

    <style>
        *{
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }

        .project_number_by_sectors .project_container{padding: 15px 8px; }
        .project_number_by_sectors .project_icon{  max-width: 70px; margin-bottom:  5px; border: solid 2px transparent; border-radius: 50%; padding: 5px; cursor: pointer;}
        .project_number_by_sectors .project_icon:hover{ border: solid 2px #aaaaaa; }
        .project_number_by_sectors .project_name{ text-decoration: none; font-size: 13px; font-weight: 600;}
        .project_number_by_sectors .project_number{}

        .slick-prev:before, .slick-next:before{color:gray !important;}
        .slick-prev:before, .slick-next:before{color:gray !important;}

        .slick-next{right: 0 !important;}
        .slick-prev{left:0 !important;}


        .section_title {
            margin: 0 0 10px;
            padding-left: 10px;
            background: #22AA86;
            color: white;
        }

        .projects_news .theme { font-size: 13px; margin: 0 }

        .projects_news .description { font-size: 13px; margin: 0 }

        /*.button_see_more {*/
        /*border-radius: 0 !important;*/
        /*background: #7ac943!important;*/
        /*color: white !important;*/
        /*font-size: 13px !important;*/
        /*}*/

        .read_more_container { text-align: right;  margin-top: 10px; }

        .read_more_container button{ padding: 6px 50px; }


        .projects_news .single_element {  margin-bottom: 10px; background: #fefefe; }

        .single_element_image_container{ height: 100px; max-height: 100px; padding: 0; display: flex;}

        .single_element_image_container a{margin: auto;width: 100%; height: 100%;}

        .single_element_image_container a img{ margin: auto; max-width: 100%; max-height: 100%; height:100%; width: 100%;object-fit: cover;}

        .single_element_desc_container{ height: 100px; max-height: 100%; }

        @media screen and (max-width: 440px){
            .single_element_desc_container h4{ font-size: 17px; font-weight: 600; margin: 5px 0;}
            .projects_news .theme{font-size: 12px;}
            .projects_news .description{font-size: 12px;}

        }

        @media screen and ( min-width: 989px ) and ( max-width: 1200px ){
            .single_element_desc_container h4{ margin: 5px 0 }
        }
    </style>

{% endblock %}


 {% block PBS %}
     <div class="project_number_by_sectors" style="margin-bottom: 40px;">
         <div class="container">
             <div class="col-md-12 slider slider_projects" >


                 {% for key, nb_by_proj in nbr_by_project %}
                 <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1 project_container">
                     <center><img class="project_icon" src="{{ asset('assets/images/agriculture.png') }}" alt="Agriculture"> <br>
                         <a class="project_name" href="#">P.{{ key }}</a>
                         <span class="badge project_number">{{ nb_by_proj  }}</span></center>
                 </div>
                 {% endfor %}
                 {#<div class="col-md-2 col-sm-2 project_container">#}
                     {#<center><img class="project_icon" src="{{ asset('assets/images/Infrastructure-3.png') }}" alt="Infrastructure"> <br>#}
                         {#<a class="project_name" href="#"> P Infrastructure </a>#}
                         {#<span class="badge project_number">20</span></center>#}
                 {#</div>#}
                 {#<div class="col-md-2 col-sm-2 project_container">#}
                     {#<center><img class="project_icon" src="{{ asset('assets/images/energie-1.png') }}" alt="Energie"> <br>#}
                         {#<a class="project_name" href="#">P Energie </a>#}
                         {#<span class="badge project_number">15</span> </center>#}
                 {#</div>#}
                 {#<div class="col-md-2 col-sm-2 project_container">#}
                     {#<center><img class="project_icon" src="{{ asset('assets/images/dechets.png') }}" alt="Dechets"> <br>#}
                         {#<a class="project_name" href="#">P Déchets </a>#}
                         {#<span class="badge project_number">12</span></center>#}
                 {#</div>#}
                 {#<div class=" col-md-2 col-sm-2 project_container">#}
                     {#<center><img class="project_icon" src="{{ asset('assets/images/sante-1.png') }}" alt="Santé"><br>#}
                         {#<a class="project_name" href="#" >P Santé </a>#}
                         {#<span class="badge project_number">20</span></center>#}
                 {#</div>#}
             </div>
         </div>
     </div>
 {% endblock %}

{% block body %}


    <div class="col-md-12 col-sm-12" style="margin-bottom: 50px;    padding: 0;">

        <div class="projects_news">
            {#Block Actualités#}
            <div class="col-md-6 col-sm-6 single_item "
                 style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                <div class="intro">
                    <h2 class="section_title">Actualités</h2>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container">
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Project Name</h4>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/640/480/nature/grayscale" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Project Name</h4>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Project Name</h4>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 item" style=" text-align: right;">
                    <button class="button_see_more">Voir Plus</button>
                </div>
            </div>

            {#block Events#}
            <div class="col-md-6 col-sm-6 single_item "
                 style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                <div class="intro">
                    <h2 class="section_title">Evénements</h2>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/tech/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Evénement 1</h4>
                            <p class="theme"><strong>Date:</strong> 11-12-2000</p>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Pr...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/people/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Evénement 2</h4>
                            <p class="theme"><strong>Date:</strong> 11-12-2000</p>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Pra...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/animals/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Evénement 3</h4>
                            <p class="theme"><strong>Date:</strong> 11-12-2000</p>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Pra...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 item" style="text-align: right;">
                    <button class=" button_see_more">Voir Plus</button>
                </div>
            </div>

            {#Block Documents#}
            <div class="col-md-6 col-sm-6 single_item "
                 style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                <div class="intro">
                    <h2 class="section_title">Documents</h2>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/arch/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Document 1</h4>
                            <p class="theme"><strong>Sector:</strong> Energie</p>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Prae...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container"  >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/tech/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Document 2</h4>
                            <p class="theme"><strong>Sector:</strong> Energie</p>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Prae...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Document 3</h4>
                            <p class="theme"><strong>Sector:</strong> Energie</p>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praes...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 item " style="text-align: right;">
                    <button class=" button_see_more">Voir Plus</button>
                </div>
            </div>

            {#Block Videos#}
            <div class="col-md-6 col-sm-6 single_item "
                 style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                <div class="intro">
                    <h2 class="section_title">Vidéos</h2>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Vidéos 1</h4>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Vidéos 2</h4>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur"/>
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 single_element_desc_container">
                            <h4 class="name">Vidéos 3</h4>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 item" style="text-align: right;">
                    <button class=" button_see_more">Voir Plus</button>
                </div>
            </div>

        </div>
    </div><br>


    <div class="col-md-12 col-sm-12" style="margin-bottom: 50px; padding: 0;">
        <div class="projects-horizontal">
            <div class="intro">
                <h2 style="background: #22aa86 !important; color: white; padding: 0 0 0 20px;">Articles & Publications</h2>
            </div>
            <div class=" projects">
                <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 col-xs-5">
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/200/200/nature/any/blur" style="max-width: 100%;max-height: 100%"/>
                            </a>
                        </div>
                        <div class="col">
                            <h4 class="name">Article 1</h4>
                            <p class="description">Aenean tortor est, vulputate quis leo
                                in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 col-xs-5"><a href="#">
                                <img class="img-fluid" src="https://placeimg.com/200/200/nature/any/blur" style="max-width: 100%;max-height: 100%"/></a>
                        </div>
                        <div class="col">
                            <h4 class="name">Article 2</h4>
                            <p class="description"> Aenean tortor est, vulputate quis leo
                                in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 col-xs-5"><a href="#">
                                <img class="img-fluid" src="https://placeimg.com/200/200/nature/any/blur" style="max-width: 100%;max-height: 100%"/></a>
                        </div>
                        <div class="col">
                            <h4 class="name">Article 3</h4>
                            <p class="description"> Aenean tortor est, vulputate quis leo
                                in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 col-xs-5"><a href="#">
                                <img class="img-fluid" src="https://placeimg.com/200/200/nature/any/blur" style="max-width: 100%;max-height: 100%"/></a>
                        </div>
                        <div class="col">
                            <h4 class="name">Article 4</h4>
                            <p class="description"> Aenean tortor est, vulputate quis leo
                                in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row read_more_container col-sm-12">
                <button class="button_see_more_lg">Voir Plus
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.slider_projects').slick({
            dots: false,
            slidesToShow: 5,
            slidesToScroll: 1,
            touchMove: false,
            autoplay: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                    breakpoint: 1023,
                    settings: {
                        speed: 10,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        arrows: false,
                        touchMove: false,
                        autoplay:true,
                        autoplaySpeed:5000

                    }
                },
            ]
        });
    </script>
{% endblock %}